header {
    height: 50px; 
    box-sizing: border-box;
    
    color: white;
    background-color: blue;
}
nav {
    padding-top: 5px;
}

li {
    display: inline-block;
    width: 10em;
}
li a {
     font-size: 2em;
     cursor: pointer;   
}
li a:hover {
    background-color: black;
}

ul {
    vertical-align: middle;
    text-align: center;
}

#weather-information {
    box-sizing: border-box;
    padding-top: 10px;

    text-align: center;
}

#info-wrapper {
    display: none;
    padding: 10px 0px;
    box-sizing: border-box;

    background-color: silver;
}

.days-forecast {
    display: inline-block;
    width: 25%;
    margin-top: 20px;
    padding: 5px;
}

p {
    margin: 5px;
}

#forecast {
    display: none;
}