header {
    background-color: blue;
    color: white;
    height: 50px; 
    box-sizing: border-box;
}
nav {
    padding-top: 5px;
}

li {
    display: inline-block;
    width: 10em;
}
li a {
     font-size: 2em;
     cursor: pointer;   
}
li a:hover {
    background-color: black;
}

ul {
    vertical-align: middle;
    text-align: center;
}

#weatherInformation {
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
}

#infoWraper {
    display: none;
    background-color: silver;
    padding: 10px 0px;
    box-sizing: border-box;
}

.dayOfForecast {
    margin-top: 20px;
    display: inline-block;
    width: 25%;
    padding: 5px;
}

p {
    margin: 5px;
}

#forecast {
    display: none;
}